
/* Your other CSS rules start here */
*{
    margin: 0;
}
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
/* header */

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding-top: 30px;
}
#left_sec{
    margin-left: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:20px;
    padding-left: 10px;
}

#left_sec a{
    text-decoration: none;
    color: black;
}
#my_photo img{
    width: 40px;
    border-radius: 40px;
}
#middle{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
    margin:0  30px 0 30px;
    justify-content: center;
}
#right_sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex:1;
    justify-content: space-around;
    max-width: 250px;
}
#right_sec img{
    width: 30px;
}
@media (max-width: 677px) {
    #left_sec, #right_sec{
       display: None;
    }
    
    #top{
        height: 70px;
        display: flex;
        justify-content: center;
    }
    #one, #two, #three{
        background-color: black;
        width: 23px;
        height: 2px;
    }
    #sandwitch{
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: absolute;
        right:-60px;
    }
}
@media (min-width:678px){
   #top{
    height: 70px;
    display: flex;
    justify-content:space-evenly;
    gap: auto;
   } 
}
/* overlay */
#overlay{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    /* transition: 0.5s; */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#first_div div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#first_div{
    position: absolute;
    top: 40px;
    text-align: center;
}
#first_div a{
    text-decoration: none;
    color: white;
}
#bottom_div{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   border-top: 1px solid rgb(39, 39, 39);
}
#back{
    position: absolute;
    top: 30px;
    right: 30px;
}
#first, #second{
    width: 22px;
    background-color: rgb(216, 216, 216);
    height: 2px;
}
#first{
    transform: rotate(45deg);
    top: 0;
}
#second{
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    
}
/* main */


#ABOUT{
    height: 100vh;
    margin: 10px;
    padding-top: 250px;
    padding-left: 100px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 88px;
    font-weight: bold;
}
/* Projects */
#pro_heading{
    text-align: center;
}
#Projects{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
img{
    width: 500px;
    height: 500px;
}
#first_pro, #second_pro{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
#first_info, #second_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: rgba(100, 113, 115, 0.611);
}
#image{
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
#second_pro{
    display: flex;

}
/* Education */
#Education{
    height: 100vh;
}